.list {
  color: white;
  text-align: start;
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100%;
}

.listWrapper {
  width: 100%;
  max-width: 1224px;
  display: flex;
  position: relative;
}

.listSearch {
  flex: 1.2;
  background-color: var(--light-blue);
  padding: 25px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  left: 0;
  height: max-content;
}

.listSearchTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.listResult {
  color: black;
  flex: 3;
}

.listSearchItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0px;
  padding: 10px;
}

.listSearchItem > label {
  font-size: 16px;
  font-weight: 400;
}

.listSearchItem > input {
  height: 25px;
  border: none;
  outline: none;
  padding: 5px;
}

.listSearchItem > .listSearchItemDate {
  height: 15px;
  padding: 16px;
  background-color: white;
  text-align: center;
  font-size: 15px;
}

.listSearchItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  text-align: center;
  color: black;
}

.listSearchItemOption {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.listSearchItemOptionInput {
  height: 15px;
  border: none;
  outline: none;
  padding: 5px;
  width: 50px;
}

.listSearchItemOptionText {
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: start;
}

.listSearch > button {
  background-color: red;
  padding: 12px;
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 599px) {
  .listWrapper {
    max-width: 95%;
    flex-direction: column;
  }
  .listSearch {
    padding: 18px;
    border-radius: 6px;
    position: relative;
  }
}
