.fp {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fpItem {
  position: relative;
  color: white;
  border-radius: 6px;
  height: 350px;
  max-height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.fpName,
.fpCity {
  color: black;
}

.fpName {
  font-weight: 400;
  font-size: 16px;
}

.fpCity {
  font-weight: 300;
  font-size: 13px;
}

.fpRating {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fpRating > button {
  padding: 5px 10px;
  outline: none;
  border: 1px solid lightblue;
  background-color: lightblue;
  cursor: pointer;
}

.fpRating > span {
  color: black;
}

.fpImg {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.symbol {
  font-weight: 900;
  border: 2px solid black;
  border-radius: 50px;
  padding: 12px;
  background-color: lightblue;
  cursor: pointer;
}

@media (max-width: 700px) {
  .fpItem {
    height: 150px;
    width: 80px;
  }

  .symbol {
    border: 1px solid black;
    padding: 1px;
  }

  .fpName {
    font-size: 13px;
  }

  .fpCity {
    font-size: 10px;
  }

  .fpRating {
    gap: 6px;
  }

  .fpRating > button {
    padding: 1px 3px;
  }
}
