.searchItem {
  border: 1px solid var(--light-blue);
  display: flex;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.searchItemDesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchItemDetails {
  flex: 1;
}

.searchItemImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 15px;
}

.searchItemTitle {
  font-size: 20px;
  color: var(--light-blue);
}

.searchItemDistance {
  font-size: 12px;
}

.searchItemTaxiOp {
  font-size: 14px;
  background-color: var(--green);
  width: max-content;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.searchItemSubtitle {
  font-size: 12px;
  font-weight: 900;
}

.searchItemFeatures {
  font-size: 12px;
  font-weight: 800;
  color: var(--green);
}

.CancelOp {
  font-size: 12px;
  font-weight: 600;
  color: var(--green);
}

.CancelOpSubtitle {
  font-size: 13px;
  font-weight: 100;
  color: var(--green);
}

.searchItemCheckButton {
  background-color: var(--light-blue);
  color: white;
  outline: none;
  padding: 10px 5px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.searchItemText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.searchItemRating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.searchItemRating > span {
  font-weight: 500;
}
.searchItemRating > button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 5px;
}
@media (max-width: 599px) {
  .searchItem {
    padding: 10px;
    margin: 5px;
    flex-direction: column;
  }
}
