.featured {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.featuredTitles {
  text-align: center;
}

.featuredImg {
  width: 350px;
  max-width: 350px;
  height: 380px;
  max-height: 380px;
  object-fit: cover;
}
